<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gibbs Calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C20CBBD1CA00090000E681F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C20CBD91CA00090000E681F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C20CBE41CA00090000E681F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
