<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>matter1</key>
	<dict>
		<key>mattername</key>
		<string></string>
		<key>state</key>
		<string>状态</string>
		<key>H</key>
		<string>H(kJ/mol)</string>
		<key>S</key>
		<string>S(J/mol*K)</string>
		<key>G</key>
		<string>G(kJ/mol)</string>
	</dict>
	<key>matter2</key>
	<dict>
		<key>mattername</key>
		<string>Ag</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>42.6</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter3</key>
	<dict>
		<key>mattername</key>
		<string>Ag+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>105.6</string>
		<key>S</key>
		<string>72.7</string>
		<key>G</key>
		<string>77.1</string>
	</dict>
	<key>matter4</key>
	<dict>
		<key>mattername</key>
		<string>AgBr</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-100.4</string>
		<key>S</key>
		<string>107.1</string>
		<key>G</key>
		<string>-96.9</string>
	</dict>
	<key>matter5</key>
	<dict>
		<key>mattername</key>
		<string>AgCl</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-127.0</string>
		<key>S</key>
		<string>96.3</string>
		<key>G</key>
		<string>-109.8</string>
	</dict>
	<key>matter6</key>
	<dict>
		<key>mattername</key>
		<string>AgI</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-61.8</string>
		<key>S</key>
		<string>115.5</string>
		<key>G</key>
		<string>-66.2</string>
	</dict>
	<key>matter7</key>
	<dict>
		<key>mattername</key>
		<string>AgNO3</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-124.4</string>
		<key>S</key>
		<string>140.9</string>
		<key>G</key>
		<string>-33.4</string>
	</dict>
	<key>matter8</key>
	<dict>
		<key>mattername</key>
		<string>Ag2O</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-31.1</string>
		<key>S</key>
		<string>121.3</string>
		<key>G</key>
		<string>-11.2</string>
	</dict>
	<key>matter9</key>
	<dict>
		<key>mattername</key>
		<string>Al</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>28.3</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter10</key>
	<dict>
		<key>mattername</key>
		<string>Al3+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-531.0</string>
		<key>S</key>
		<string>-321.0</string>
		<key>G</key>
		<string>-485.0</string>
	</dict>
	<key>matter11</key>
	<dict>
		<key>mattername</key>
		<string>AlCl3</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-704.2</string>
		<key>S</key>
		<string>110.7</string>
		<key>G</key>
		<string>-628.0</string>
	</dict>
	<key>matter12</key>
	<dict>
		<key>mattername</key>
		<string>Al(OH)3</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-1284</string>
		<key>S</key>
		<string>71</string>
		<key>G</key>
		<string>-1306</string>
	</dict>
	<key>matter13</key>
	<dict>
		<key>mattername</key>
		<string>Br2</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>152.2</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter14</key>
	<dict>
		<key>mattername</key>
		<string>Br-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-121.6</string>
		<key>S</key>
		<string>82.4</string>
		<key>G</key>
		<string>-104.0</string>
	</dict>
	<key>matter15</key>
	<dict>
		<key>mattername</key>
		<string>C(石墨)</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>5.7</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter16</key>
	<dict>
		<key>mattername</key>
		<string>C(金刚石)</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>1.9</string>
		<key>S</key>
		<string>2.4</string>
		<key>G</key>
		<string>2.9</string>
	</dict>
	<key>matter17</key>
	<dict>
		<key>mattername</key>
		<string>Ca</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>41.6</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter18</key>
	<dict>
		<key>mattername</key>
		<string>Ca2+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-542.0</string>
		<key>S</key>
		<string>-53.1</string>
		<key>G</key>
		<string>-553.6</string>
	</dict>
	<key>matter19</key>
	<dict>
		<key>mattername</key>
		<string>CaC2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-59.8</string>
		<key>S</key>
		<string>70</string>
		<key>G</key>
		<string>-64.9</string>
	</dict>
	<key>matter20</key>
	<dict>
		<key>mattername</key>
		<string>CaCO3(方解石)</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-1207.0</string>
		<key>S</key>
		<string>91.7</string>
		<key>G</key>
		<string>-1129.0</string>
	</dict>
	<key>matter21</key>
	<dict>
		<key>mattername</key>
		<string>CaCl2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-795.4</string>
		<key>S</key>
		<string>108.4</string>
		<key>G</key>
		<string>-748.8</string>
	</dict>
	<key>matter22</key>
	<dict>
		<key>mattername</key>
		<string>CaO</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-634.9</string>
		<key>S</key>
		<string>38.1</string>
		<key>G</key>
		<string>-603.0</string>
	</dict>
	<key>matter23</key>
	<dict>
		<key>mattername</key>
		<string>Ca(OH)2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-985.0</string>
		<key>S</key>
		<string>83.4</string>
		<key>G</key>
		<string>-897.5</string>
	</dict>
	<key>matter24</key>
	<dict>
		<key>mattername</key>
		<string>Cl2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>223.1</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter25</key>
	<dict>
		<key>mattername</key>
		<string>Cl-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-167.2</string>
		<key>S</key>
		<string>56.5</string>
		<key>G</key>
		<string>-131.2</string>
	</dict>
	<key>matter26</key>
	<dict>
		<key>mattername</key>
		<string>ClO3-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-104.0</string>
		<key>S</key>
		<string>162.3</string>
		<key>G</key>
		<string>-8.0</string>
	</dict>
	<key>matter27</key>
	<dict>
		<key>mattername</key>
		<string>ClO4-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-129.3</string>
		<key>S</key>
		<string>182.0</string>
		<key>G</key>
		<string>-8.5</string>
	</dict>
	<key>matter28</key>
	<dict>
		<key>mattername</key>
		<string>CCl4</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-74,6</string>
		<key>S</key>
		<string>186.3</string>
		<key>G</key>
		<string>-50.5</string>
	</dict>
	<key>matter29</key>
	<dict>
		<key>mattername</key>
		<string>CH4</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-74.6</string>
		<key>S</key>
		<string>186.3</string>
		<key>G</key>
		<string>-50.5</string>
	</dict>
	<key>matter30</key>
	<dict>
		<key>mattername</key>
		<string>CH3OH</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-239.0</string>
		<key>S</key>
		<string>126.8</string>
		<key>G</key>
		<string>-166.6</string>
	</dict>
	<key>matter31</key>
	<dict>
		<key>mattername</key>
		<string>CO(NH2)2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-333.1</string>
		<key>S</key>
		<string>104.6</string>
		<key>G</key>
		<string>-196.8</string>
	</dict>
	<key>matter32</key>
	<dict>
		<key>mattername</key>
		<string>CH3NH2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-22.5</string>
		<key>S</key>
		<string>242.9</string>
		<key>G</key>
		<string>32.7</string>
	</dict>
	<key>matter33</key>
	<dict>
		<key>mattername</key>
		<string>C2H2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>227.4</string>
		<key>S</key>
		<string>200.9</string>
		<key>G</key>
		<string>209.9</string>
	</dict>
	<key>matter34</key>
	<dict>
		<key>mattername</key>
		<string>C2H4</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>52.4</string>
		<key>S</key>
		<string>219.3</string>
		<key>G</key>
		<string>68.4</string>
	</dict>
	<key>matter35</key>
	<dict>
		<key>mattername</key>
		<string>CH3CHO</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-192.2</string>
		<key>S</key>
		<string>160.2</string>
		<key>G</key>
		<string>-127.6</string>
	</dict>
	<key>matter36</key>
	<dict>
		<key>mattername</key>
		<string>CH3COOH</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-484.3</string>
		<key>S</key>
		<string>159.8</string>
		<key>G</key>
		<string>-389.0</string>
	</dict>
	<key>matter37</key>
	<dict>
		<key>mattername</key>
		<string>C2H6</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-84.0</string>
		<key>S</key>
		<string>229.2</string>
		<key>G</key>
		<string>-32.0</string>
	</dict>
	<key>matter38</key>
	<dict>
		<key>mattername</key>
		<string>C2H5OH</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-277.0</string>
		<key>S</key>
		<string>160.7</string>
		<key>G</key>
		<string>-174.8</string>
	</dict>
	<key>matter39</key>
	<dict>
		<key>mattername</key>
		<string>(CH3)2CO</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-248.4</string>
		<key>S</key>
		<string>199.8</string>
		<key>G</key>
		<string>-152.7</string>
	</dict>
	<key>matter40</key>
	<dict>
		<key>mattername</key>
		<string>C3H8</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-103.8</string>
		<key>S</key>
		<string>270.3</string>
		<key>G</key>
		<string>-23.4</string>
	</dict>
	<key>matter41</key>
	<dict>
		<key>mattername</key>
		<string>C6H6</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>49.1</string>
		<key>S</key>
		<string>173.4</string>
		<key>G</key>
		<string>124.5</string>
	</dict>
	<key>matter42</key>
	<dict>
		<key>mattername</key>
		<string>C6H6</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>82.9</string>
		<key>S</key>
		<string>269.2</string>
		<key>G</key>
		<string>129.7</string>
	</dict>
	<key>matter43</key>
	<dict>
		<key>mattername</key>
		<string>CO</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-110.5</string>
		<key>S</key>
		<string>197.7</string>
		<key>G</key>
		<string>-137.2</string>
	</dict>
	<key>matter44</key>
	<dict>
		<key>mattername</key>
		<string>CO2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-393.0</string>
		<key>S</key>
		<string>213.8</string>
		<key>G</key>
		<string>-394.4</string>
	</dict>
	<key>matter45</key>
	<dict>
		<key>mattername</key>
		<string>CO3 2-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-677.1</string>
		<key>S</key>
		<string>-56.9</string>
		<key>G</key>
		<string>-527.0</string>
	</dict>
	<key>matter46</key>
	<dict>
		<key>mattername</key>
		<string>CrO4 2-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-881.2</string>
		<key>S</key>
		<string>50.2</string>
		<key>G</key>
		<string>-727.0</string>
	</dict>
	<key>matter47</key>
	<dict>
		<key>mattername</key>
		<string>Cr2O3</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-1139.0</string>
		<key>S</key>
		<string>81.2</string>
		<key>G</key>
		<string>-1058.0</string>
	</dict>
	<key>matter48</key>
	<dict>
		<key>mattername</key>
		<string>Cu</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>33.2</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter49</key>
	<dict>
		<key>mattername</key>
		<string>Cu2+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>64.8</string>
		<key>S</key>
		<string>-99.6</string>
		<key>G</key>
		<string>65.5</string>
	</dict>
	<key>matter50</key>
	<dict>
		<key>mattername</key>
		<string>CuO</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-157.3</string>
		<key>S</key>
		<string>42.6</string>
		<key>G</key>
		<string>-129.7</string>
	</dict>
	<key>matter51</key>
	<dict>
		<key>mattername</key>
		<string>Cu2O</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-168.6</string>
		<key>S</key>
		<string>93.1</string>
		<key>G</key>
		<string>-146.0</string>
	</dict>
	<key>matter52</key>
	<dict>
		<key>mattername</key>
		<string>CuS</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-53.1</string>
		<key>S</key>
		<string>66.5</string>
		<key>G</key>
		<string>-53.6</string>
	</dict>
	<key>matter53</key>
	<dict>
		<key>mattername</key>
		<string>F2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>202.8</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter54</key>
	<dict>
		<key>mattername</key>
		<string>F-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-332.0</string>
		<key>S</key>
		<string>-13.8</string>
		<key>G</key>
		<string>-278.0</string>
	</dict>
	<key>matter55</key>
	<dict>
		<key>mattername</key>
		<string>Fe</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>27.3</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter56</key>
	<dict>
		<key>mattername</key>
		<string>Fe2+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-89.1</string>
		<key>S</key>
		<string>-137.0</string>
		<key>G</key>
		<string>-78.9</string>
	</dict>
	<key>matter57</key>
	<dict>
		<key>mattername</key>
		<string>Fe3+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-48.5</string>
		<key>S</key>
		<string>-315.0</string>
		<key>G</key>
		<string>-4.7</string>
	</dict>
	<key>matter58</key>
	<dict>
		<key>mattername</key>
		<string>Fe2O3</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-824.0</string>
		<key>S</key>
		<string>87.4</string>
		<key>G</key>
		<string>-742.0</string>
	</dict>
	<key>matter59</key>
	<dict>
		<key>mattername</key>
		<string>FeSO4</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-928.0</string>
		<key>S</key>
		<string>107.5</string>
		<key>G</key>
		<string>-820.0</string>
	</dict>
	<key>matter60</key>
	<dict>
		<key>mattername</key>
		<string>H2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>130.7</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter61</key>
	<dict>
		<key>mattername</key>
		<string>H+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>0</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter62</key>
	<dict>
		<key>mattername</key>
		<string>HBr</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-36.3</string>
		<key>S</key>
		<string>198.7</string>
		<key>G</key>
		<string>-53.4</string>
	</dict>
	<key>matter63</key>
	<dict>
		<key>mattername</key>
		<string>HCl</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-92.3</string>
		<key>S</key>
		<string>186.9</string>
		<key>G</key>
		<string>-95.3</string>
	</dict>
	<key>matter64</key>
	<dict>
		<key>mattername</key>
		<string>HCO3-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-692.0</string>
		<key>S</key>
		<string>91.2</string>
		<key>G</key>
		<string>-586.0</string>
	</dict>
	<key>matter65</key>
	<dict>
		<key>mattername</key>
		<string>HCHO</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-108.6</string>
		<key>S</key>
		<string>218.8</string>
		<key>G</key>
		<string>-102.5</string>
	</dict>
	<key>matter66</key>
	<dict>
		<key>mattername</key>
		<string>HCOOH</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-425.0</string>
		<key>S</key>
		<string>129.0</string>
		<key>G</key>
		<string>-361.4</string>
	</dict>
	<key>matter67</key>
	<dict>
		<key>mattername</key>
		<string>HF</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-273.0</string>
		<key>S</key>
		<string>173.8</string>
		<key>G</key>
		<string>-275.4</string>
	</dict>
	<key>matter68</key>
	<dict>
		<key>mattername</key>
		<string>HI</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>26.5</string>
		<key>S</key>
		<string>206.6</string>
		<key>G</key>
		<string>1.7</string>
	</dict>
	<key>matter69</key>
	<dict>
		<key>mattername</key>
		<string>HNO3</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-174.1</string>
		<key>S</key>
		<string>155.6</string>
		<key>G</key>
		<string>-80.7</string>
	</dict>
	<key>matter70</key>
	<dict>
		<key>mattername</key>
		<string>H2O</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-285.83</string>
		<key>S</key>
		<string>70.0</string>
		<key>G</key>
		<string>-237.1</string>
	</dict>
	<key>matter71</key>
	<dict>
		<key>mattername</key>
		<string>H2O</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-241.8</string>
		<key>S</key>
		<string>70.0</string>
		<key>G</key>
		<string>-228.0</string>
	</dict>
	<key>matter72</key>
	<dict>
		<key>mattername</key>
		<string>H2O2</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-187.8</string>
		<key>S</key>
		<string>109.6</string>
		<key>G</key>
		<string>-120.4</string>
	</dict>
	<key>matter73</key>
	<dict>
		<key>mattername</key>
		<string>H2O2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-136.3</string>
		<key>S</key>
		<string>232.7</string>
		<key>G</key>
		<string>-105.6</string>
	</dict>
	<key>matter74</key>
	<dict>
		<key>mattername</key>
		<string>H2S</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-20.6</string>
		<key>S</key>
		<string>205.8</string>
		<key>G</key>
		<string>-33.4</string>
	</dict>
	<key>matter75</key>
	<dict>
		<key>mattername</key>
		<string>H2SO4</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-814.0</string>
		<key>S</key>
		<string>156.9</string>
		<key>G</key>
		<string>-690.0</string>
	</dict>
	<key>matter76</key>
	<dict>
		<key>mattername</key>
		<string>HgO</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-90.8</string>
		<key>S</key>
		<string>70.3</string>
		<key>G</key>
		<string>-58.5</string>
	</dict>
	<key>matter77</key>
	<dict>
		<key>mattername</key>
		<string>I2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>116.1</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter78</key>
	<dict>
		<key>mattername</key>
		<string>I2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>62.4</string>
		<key>S</key>
		<string>260.7</string>
		<key>G</key>
		<string>19.3</string>
	</dict>
	<key>matter79</key>
	<dict>
		<key>mattername</key>
		<string>I-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-55.2</string>
		<key>S</key>
		<string>111.3</string>
		<key>G</key>
		<string>-51.6</string>
	</dict>
	<key>matter80</key>
	<dict>
		<key>mattername</key>
		<string>K</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>64.7</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter81</key>
	<dict>
		<key>mattername</key>
		<string>K+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-252.0</string>
		<key>S</key>
		<string>102.5</string>
		<key>G</key>
		<string>-283.0</string>
	</dict>
	<key>matter82</key>
	<dict>
		<key>mattername</key>
		<string>KCl</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-436.5</string>
		<key>S</key>
		<string>82.6</string>
		<key>G</key>
		<string>-408.5</string>
	</dict>
	<key>matter83</key>
	<dict>
		<key>mattername</key>
		<string>KClO3</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-397.7</string>
		<key>S</key>
		<string>143.1</string>
		<key>G</key>
		<string>-296.0</string>
	</dict>
	<key>matter84</key>
	<dict>
		<key>mattername</key>
		<string>Li+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-278.0</string>
		<key>S</key>
		<string>13.4</string>
		<key>G</key>
		<string>-293.0</string>
	</dict>
	<key>matter85</key>
	<dict>
		<key>mattername</key>
		<string>Mg</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>32.7</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter86</key>
	<dict>
		<key>mattername</key>
		<string>Mg2+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-466.9</string>
		<key>S</key>
		<string>-138.1</string>
		<key>G</key>
		<string>-454.8</string>
	</dict>
	<key>matter87</key>
	<dict>
		<key>mattername</key>
		<string>MgCl2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-641.3</string>
		<key>S</key>
		<string>89.6</string>
		<key>G</key>
		<string>-591.8</string>
	</dict>
	<key>matter88</key>
	<dict>
		<key>mattername</key>
		<string>MgO</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-601.6</string>
		<key>S</key>
		<string>27.0</string>
		<key>G</key>
		<string>-569.0</string>
	</dict>
	<key>matter89</key>
	<dict>
		<key>mattername</key>
		<string>Mg(OH)2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-924.0</string>
		<key>S</key>
		<string>63.2</string>
		<key>G</key>
		<string>-833.0</string>
	</dict>
	<key>matter90</key>
	<dict>
		<key>mattername</key>
		<string>MgSO4</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-1284.0</string>
		<key>S</key>
		<string>91.6</string>
		<key>G</key>
		<string>-1170.0</string>
	</dict>
	<key>matter91</key>
	<dict>
		<key>mattername</key>
		<string>Mn2+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-220.0</string>
		<key>S</key>
		<string>-73.6</string>
		<key>G</key>
		<string>-228.1</string>
	</dict>
	<key>matter92</key>
	<dict>
		<key>mattername</key>
		<string>MnO2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-520.0</string>
		<key>S</key>
		<string>53.1</string>
		<key>G</key>
		<string>-465.1</string>
	</dict>
	<key>matter93</key>
	<dict>
		<key>mattername</key>
		<string>MnO4-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-541.4</string>
		<key>S</key>
		<string>191.2</string>
		<key>G</key>
		<string>-447.2</string>
	</dict>
	<key>matter94</key>
	<dict>
		<key>mattername</key>
		<string>N2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>191.6</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter95</key>
	<dict>
		<key>mattername</key>
		<string>Na</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>51.3</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter96</key>
	<dict>
		<key>mattername</key>
		<string>Na+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-240.1</string>
		<key>S</key>
		<string>59.0</string>
		<key>G</key>
		<string>-261.9</string>
	</dict>
	<key>matter97</key>
	<dict>
		<key>mattername</key>
		<string>NaCl</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-441.2</string>
		<key>S</key>
		<string>72.1</string>
		<key>G</key>
		<string>-384.1</string>
	</dict>
	<key>matter98</key>
	<dict>
		<key>mattername</key>
		<string>NaCO3</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-1130.1</string>
		<key>S</key>
		<string>-1044.0</string>
		<key>G</key>
		<string>135.0</string>
	</dict>
	<key>matter99</key>
	<dict>
		<key>mattername</key>
		<string>NaF</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-576.6</string>
		<key>S</key>
		<string>51.1</string>
		<key>G</key>
		<string>-546.3</string>
	</dict>
	<key>matter100</key>
	<dict>
		<key>mattername</key>
		<string>Na2O</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-414.2</string>
		<key>S</key>
		<string>75.1</string>
		<key>G</key>
		<string>-375.5</string>
	</dict>
	<key>matter101</key>
	<dict>
		<key>mattername</key>
		<string>NaOH</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-425.0</string>
		<key>S</key>
		<string>40.0</string>
		<key>G</key>
		<string>-379.5</string>
	</dict>
	<key>matter102</key>
	<dict>
		<key>mattername</key>
		<string>NH3</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-45.9</string>
		<key>S</key>
		<string>192.8</string>
		<key>G</key>
		<string>-16.4</string>
	</dict>
	<key>matter103</key>
	<dict>
		<key>mattername</key>
		<string>NH4+</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-132.5</string>
		<key>S</key>
		<string>113.4</string>
		<key>G</key>
		<string>-79.3</string>
	</dict>
	<key>matter104</key>
	<dict>
		<key>mattername</key>
		<string>NH4NO3</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-365.5</string>
		<key>S</key>
		<string>151.1</string>
		<key>G</key>
		<string>-183.9</string>
	</dict>
	<key>matter105</key>
	<dict>
		<key>mattername</key>
		<string>NO</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>91.3</string>
		<key>S</key>
		<string>210.8</string>
		<key>G</key>
		<string>87.6</string>
	</dict>
	<key>matter106</key>
	<dict>
		<key>mattername</key>
		<string>NO2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>33.2</string>
		<key>S</key>
		<string>240.1</string>
		<key>G</key>
		<string>-51.3</string>
	</dict>
	<key>matter107</key>
	<dict>
		<key>mattername</key>
		<string>NO3-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-207.4</string>
		<key>S</key>
		<string>146.4</string>
		<key>G</key>
		<string>-111.3</string>
	</dict>
	<key>matter108</key>
	<dict>
		<key>mattername</key>
		<string>O2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>205.2</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter109</key>
	<dict>
		<key>mattername</key>
		<string>O3</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>142.7</string>
		<key>S</key>
		<string>238.9</string>
		<key>G</key>
		<string>163.2</string>
	</dict>
	<key>matter110</key>
	<dict>
		<key>mattername</key>
		<string>OH-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-230.0</string>
		<key>S</key>
		<string>-10.8</string>
		<key>G</key>
		<string>-157.2</string>
	</dict>
	<key>matter111</key>
	<dict>
		<key>mattername</key>
		<string>P4</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>58.9</string>
		<key>S</key>
		<string>280.0</string>
		<key>G</key>
		<string>24.4</string>
	</dict>
	<key>matter112</key>
	<dict>
		<key>mattername</key>
		<string>PCl3</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-287.0</string>
		<key>S</key>
		<string>311.8</string>
		<key>G</key>
		<string>-267.0</string>
	</dict>
	<key>matter113</key>
	<dict>
		<key>mattername</key>
		<string>PCl5</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-374.9</string>
		<key>S</key>
		<string>364.6</string>
		<key>G</key>
		<string>-305.0</string>
	</dict>
	<key>matter114</key>
	<dict>
		<key>mattername</key>
		<string>PO4 3-</string>
		<key>state</key>
		<string>aq</string>
		<key>H</key>
		<string>-1277.0</string>
		<key>S</key>
		<string>-220.0</string>
		<key>G</key>
		<string>-1018.0</string>
	</dict>
	<key>matter115</key>
	<dict>
		<key>mattername</key>
		<string>S(正交)</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>32.1</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter116</key>
	<dict>
		<key>mattername</key>
		<string>SO2</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-296.0</string>
		<key>S</key>
		<string>248.2</string>
		<key>G</key>
		<string>-300.1</string>
	</dict>
	<key>matter117</key>
	<dict>
		<key>mattername</key>
		<string>SO3</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-395.7</string>
		<key>S</key>
		<string>256.8</string>
		<key>G</key>
		<string>-371.1</string>
	</dict>
	<key>matter118</key>
	<dict>
		<key>mattername</key>
		<string>Si</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>18.8</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter119</key>
	<dict>
		<key>mattername</key>
		<string>SiCl4</string>
		<key>state</key>
		<string>l</string>
		<key>H</key>
		<string>-687.0</string>
		<key>S</key>
		<string>239.7</string>
		<key>G</key>
		<string>-619.8</string>
	</dict>
	<key>matter120</key>
	<dict>
		<key>mattername</key>
		<string>SiCl4</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>-657.0</string>
		<key>S</key>
		<string>330.7</string>
		<key>G</key>
		<string>-617.0</string>
	</dict>
	<key>matter121</key>
	<dict>
		<key>mattername</key>
		<string>SiH4</string>
		<key>state</key>
		<string>g</string>
		<key>H</key>
		<string>34.3</string>
		<key>S</key>
		<string>204.6</string>
		<key>G</key>
		<string>56.9</string>
	</dict>
	<key>matter122</key>
	<dict>
		<key>mattername</key>
		<string>SiO2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-910.7</string>
		<key>S</key>
		<string>41.5</string>
		<key>G</key>
		<string>-856.0</string>
	</dict>
	<key>matter123</key>
	<dict>
		<key>mattername</key>
		<string>Sn(白)</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>51.2</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter124</key>
	<dict>
		<key>mattername</key>
		<string>SnO2</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-577.6</string>
		<key>S</key>
		<string>49.0</string>
		<key>G</key>
		<string>-515.8</string>
	</dict>
	<key>matter125</key>
	<dict>
		<key>mattername</key>
		<string>Zn</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>0</string>
		<key>S</key>
		<string>41.6</string>
		<key>G</key>
		<string>0</string>
	</dict>
	<key>matter126</key>
	<dict>
		<key>mattername</key>
		<string>ZnO</string>
		<key>state</key>
		<string>s</string>
		<key>H</key>
		<string>-350.5</string>
		<key>S</key>
		<string>43.7</string>
		<key>G</key>
		<string>-320.0</string>
	</dict>
</dict>
</plist>
